<!-- About Section -->
<section id="case-studies">
  <div class="container narrow primary-light">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Case Studies</h2>
      </div>
    </div>
    <div class="row">
      <div class="case-study col-md-6">
        <div class="cs cs-1">
          <h3>Case Study 1</h3>
        </div>
      </div>
      <div class="case-study col-md-6">
        <div class="cs cs-2">
          <h3>Case Study 2</h3></div>
      </div>
    </div>
    <div class="row">
      <div class="case-study col-md-6">
        <div class="cs cs-3">
          <h3>Case Study 3</h3></div>

      </div>
      <div class="case-study col-md-6">
        <div class="cs cs-4">
          <h3>Case Study 4</h3></div>
      </div>
    </div>
  </div>
</section>
