<section id="who-we-are">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 primary-light text-center">
        <h2>Who we are</h2>
        <p>DINNER LADIES is a dynamic London-based catering company offering seasonal food that is delicious and different.</p>
        <p>
          Dinner Ladies trained chefs are globally inspired from their experience teaching cookery and living in Asia as well as
          from extensive worldwide travel, delivering food that is packed with unforgettable flavour.
        </p>
        <p>
          Dinner Ladies design tailor-made menus for any private party, provide simply packaged solutions with impressive
          food and drink specialist knowledge for corporate events and curate diversely cultured supper clubs.
          They can provide everything for you including the staff, hire equipment, design and even event space, working
          with you to create your vision.
        </p>
      </div>
    </div>
  </div>
</section>
